@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.landingPage{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 50px;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
      
}

.navigation a:hover, 
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 4em;
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/*--------about---------------*/
.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2{
    
    font-size: 3em;
    color: #fff;
    margin-bottom: 0px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}

.sec h3{
    text-decoration: #fff underline;
    font-size: 1.5em;
    margin-top: 20px;
    color: #fff;
    margin-bottom: 0px;
    
}

.skill{
    color: #fff;
    margin-left: 18px;
    margin-top: 10px;
}

/*--------resource---------------*/

.resource{
    position: relative;
    background: #003329;
    padding: 100px;
    margin-top: -50px;
}

.resource h2{
    color: #fff;
    font-size: 3em;
}
.resource h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 1em;
}
.video-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 15px;
    margin-top: 10px;
    margin-left: -15px;
    max-width: 80%; /* Adjusted max-width to limit the size of the container */
}

.v {
    flex: 1;
    padding: 5px; /* Further reduced padding to make the boxes smaller */
    background-color: #359381;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px; /* Further reduced font size */
    font-weight: bold;
    color: white;
    margin: 5px;
    text-align: center;
    
}
.v:hover {
    transform: scale(1.05);
    background-color: #93dfd5;
}
iframe {
    width: 280px; /* Reduced iframe width */
    height: 157px; /* Reduced iframe height (maintaining aspect ratio) */
}

/*--------project---------------*/


.project{
    position: relative;
    background: #003329;
    padding: 100px;
    margin-top: -50px;
}

.project h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 20px;
}
.project-container{
    display: flex;
    gap: 20px;

}

.p1 {
    width: 400px;
    height: 350px;
    background-color: #2c8977;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    border-radius: 50px;
    transition: transform 0.3s, background-color 0.3s;
    padding: 20px; /* Added padding for spacing */
}

.p1 h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
}

.p1 p {
    flex-grow: 1;
    margin-bottom: 10px;
    font-size: 1em;
    color: black;
    text-align: justify;
}

.p1 a {
    color: blue;
    text-decoration: underline;
    font-size: 18px;
    align-self: flex-start;
    margin-top: auto;
}

.p1:hover {
    transform: scale(1.05);
    background-color: #93dfd5;
}

.p2 {
    width: 400px;
    height: 350px;
    background-color: #2c8977;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    border-radius: 50px;
    margin-top: 30px;
    transition: transform 0.3s, background-color 0.3s;
    padding: 20px; /* Added padding for spacing */
}

.p2 h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
}

.p2 p {
    flex-grow: 1;
    margin-bottom: 10px;
    font-size: 1em;
    color: black;
    text-align: justify;
}

.p2 a {
    color: blue;
    text-decoration: underline;
    font-size: 18px;
    align-self: flex-start;
    margin-top: auto;
}

.p2:hover {
    transform: scale(1.05);
    background-color: #93dfd5;
}

/*--------footer---------------*/

.foot {
    background-color: black; /* Optional: background color for the footer */
    padding: 10px 20px; /* Optional: padding around the footer content */
}

.footer {
    display: flex;
    justify-content: space-between; /* Aligns footer links and right section to ends */
    align-items: flex-start; /* Align items to the start of the container */
}

.footer-links {
    display: flex;
    flex-direction: column; /* Stacks the links vertically */
}

.footer-links a {
    margin-bottom: 0px; /* Space between each link */
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Link color */
    margin-left: 20px;
    margin-top: 40px;
}

.footer-links a:hover {
    text-decoration: underline; /* Underline on hover */
}

.footer-center-text {
    flex: 1; 
    color: #fff;
    text-align: center;
    margin-top: 30px;
    
}
.footer-center {
    display: flex;
    margin-top: 20px;
    flex-direction: column; /* Stack paragraphs vertically */
    align-items: center; /* Center-align items horizontally */
    flex: 1; /* Allow it to take up available space */
}

.footer-center-text {
    margin: 0 0 10px; /* Space below the header text */
}

.centerText {
    margin: 0; /* Remove default margin */
    color: #fff;
}

.footer-right {
    display: flex;
    flex-direction: column; /* Stacks the text and links vertically */
    align-items: flex-start; /* Center-aligns the items horizontally */
    margin-left: auto; /* Ensures the section is centered within the available space */
}

.footer-right p {
    margin-left: 50px; /* Space below the paragraph */
}

.footer-right a {
    margin-bottom: 10px; /* Space between each link */
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Link color */
}

.footer-right a:hover {
    text-decoration: underline; /* Underline on hover */
}

.copyright {
    margin-top: 80px; 
    margin-left: 20px;
    font-size: 14px; 
    color: #777; 
    
}
.copyright  a{
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1em;
    margin: 5px 0;
}
.copyright a:hover {
    text-decoration: underline; 
}
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: none; /* Hidden by default */
    font-size: 16px;
  }
  
  .scroll-top-btn:hover {
    background-color: #0056b3;
  }

  .linkedin{
    font-size: 2em;
    margin-top: 30px;
  }
  .linkedin:hover{
    transform: scale(1.05);
    color: #2c8977;
  }